:root {
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.App {
  min-height: 95%; 
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
}

.Home {
  min-height: 100vh;
  background: #aa2142;
  margin: 1rem;
  padding: 2rem 1rem;
  color: #fff;
  border-radius: var(--border-radius);
}

ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: var(--border-radius);
}

ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

ul.nav li:nth-child(1) {
  border-radius: 0;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

ul.nav li:nth-child(5) {
  border-radius: 0;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

ul.nav li:hover {
  background: #222;
}

ul.nav li.active {
  background: #000;
}

input, select {
  color: rgb(255 255 255);
  border-bottom-color: rgba(0,0,0,.42);
  font-size: 1rem;
  box-sizing: border-box;
  width: 400px;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid;
  border-radius: var(--border-radius) var(--border-radius);
  background: rgb(0 0 0 / 25%);
  margin: 2px 4px;
}

button {
  min-width: 90px;
  margin: 10px 10px;
  border-radius: var(--border-radius);
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  list-style: none;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}